.App {
  max-width: 300px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App footer a {
  color: #0072ec;
}

.App footer a:hover {
  color: #e0881a;
  text-decoration: none;
}
